{% extends 'student_template/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{staff_count}}</h3>

                <p>Staffs </p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
              <a href="{% url 'manage_staff' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}