<div class="modal fade" id="actionConfirmModal" tabindex="-1" role="dialog" aria-labelledby="actionConfirmModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ui-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="actionConfirmModalTitle">Confirmar accion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="actionConfirmText" class="mb-0">Deseas continuar?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
        <a id="actionConfirmBtn" href="#" class="btn btn-primary">Confirmar</a>
      </div>
    </div>
  </div>
</div>