{% extends 'hod_template/base_template.html' %}
{% block page_title %}Editar Estudiante | Usuario: {{ username }} | #ID: {{ id }}{% endblock page_title %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9">
        <div class="ui-surface-card p-3 p-md-4 p-xl-5">
          <div class="ui-panel-header mb-3">
            <h3 class="ui-panel-title">Actualizar estudiante</h3>
          </div>
          {% url 'edit_student_save' as action_path %}
          {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Guardar cambios" %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}

